body{background-color: rgb(242, 247, 255);
min-height:100vh;
display: flex;
flex-direction: column;
width:1100px;
margin:0 auto;}

header{height:100px;}
header h1{margin-bottom:0px;
    margin-top:7px;}
.js{margin:0;}
header ul{display:flex;
justify-content: space-evenly;
background-color: darkgoldenrod;
margin-top:-20px;}
header li{list-style: none;}
header a{color:black;
text-decoration: none;}
header a:hover{text-decoration:underline;}
nav a:hover{background-color:rgb(250, 250, 181)}

.aaa{color:black;}

div{display:flex;
    justify-content: space-between;
flex:1;}
    /* height:500px;} */


header{border:2px solid black;}
nav{border:2px solid black;
width:150px;}
nav p{display: flex;
    flex-direction:column;}
.btn-icon{width:50px;
margin-left:100px;}

main{border:2px solid black;
flex:1;}
main h3{background-color: rgb(181, 204, 204);
margin:0;
padding-left:30px;}
.content{display: flex;
flex-wrap: wrap;}
.img{flex:1;}

/* 画像真ん中の文字 */
main a:hover{background-color:rgb(250, 250, 181);
color:black;}

.img1{position: relative;}
.img1 a{position: absolute;
top: 50%;
left:40%;
border:3px solid white;
font-weight: 600;
color: black;}

.img2{position: relative;}
.img2 a{position: absolute;
top: 50%;
left:40%;
border:3px solid white;
font-weight: 600;
color: black;}

.img3{position: relative;}
.img3 a{position: absolute;
top: 40%;
left:35%;
border:3px solid white;
font-weight: 600;
color: black;}

.img4{position: relative;}
.img4 a{position: absolute;
top: 40%;
left:45%;
border:3px solid white;
color:rgb(177, 175, 175);
font-weight: 600;}

.img5{position: relative;}
.img5 a{position: absolute;
top: 50%;
left:40%;
border:3px solid white;
color:rgb(177, 175, 175);
font-weight: 600;}

.img6{position: relative;}
.img6 a{position: absolute;
top: 50%;
left:40%;
border:3px solid white;
color:rgb(177, 175, 175);
font-weight: 600;}


aside{border:2px solid black;
width:150px;}
aside img{width:140px;}


footer{border:2px solid black;
height:200px;}
footer ul{display:flex;
justify-content: space-evenly;
margin-bottom:0;}
.p1{margin:0;
    font-weight:600;}
.p2{margin:0;
    font-weight:600;}
small{float:right;
margin-right:20px;}
